openapi: 3.1.0
info:
  title: Paxeer Portfolio API
  version: 0.3.0
  description: |
    Complete REST API for the Paxeer Portfolio Service.
    Provides unified wallet portfolio tracking across on-chain and off-chain systems:
    token metadata, perpetuals positions, PnL analytics, chart data, AMM DEX data,
    off-chain exchange balances/trades, rewards/points/airdrops, leaderboard,
    trading performance, user profiles, asset price charts, and trending tokens.
    
    ## Data Sources (13 databases)
    - **Paxscan**: Block explorer data (tokens, balances, transactions)
    - **Portfolio**: Enriched data store (prices, snapshots, PnL)
    - **Price Oracle**: PAX price candles and tick prices
    - **DEX Subgraph**: Launchpad token markets, swaps, trending scores
    - **Perps**: Perpetuals positions, trades, vaults, markets
    - **Argus**: Centurion scores, performance metrics, behavioral analysis
    - **Auth**: User identity and fund status
    - **Candles A**: PAX component asset candles (20 crypto assets)
    - **Candles B**: Multi-asset candles (crypto + stocks/commodities)
    - **AMM Subgraph**: Uniswap V2-style pair/swap/mint/burn data
    - **TokenStats**: Authoritative price source for WPAX/PAX
    - **Exchange**: Off-chain orderbook (balances, orders, trades, deposits, withdrawals)
    - **Rewards**: Points, tiers, quests, airdrops, referrals, leaderboard
  contact:
    name: Paxeer Team
  license:
    name: MIT

servers:
  - url: https://us-east-1.user-stats.sidiora.exchange
    description: Production

tags:
  - name: Health
    description: Service health and status
  - name: Tokens
    description: Token metadata and sync operations
  - name: Prices
    description: Token price sync operations
  - name: Portfolio
    description: Wallet portfolio data
  - name: PnL
    description: Profit & Loss and balance tracking
  - name: Portfolio Charts
    description: Time-series chart data for portfolio metrics
  - name: Perps
    description: Perpetuals trading positions and trades
  - name: Enrichment
    description: "Phase 2: Leaderboard rank, trading performance, user profile"
  - name: Asset Charts
    description: "Phase 3: OHLCV price charts for any asset (PAX, BTC, ETH, stocks, etc.)"
  - name: DEX
    description: "Phase 3: Trending launchpad tokens and DEX swap history"
  - name: AMM
    description: "Phase 4: Uniswap V2-style AMM pairs, swaps, mints, burns, analytics"
  - name: Exchange
    description: "Phase 6: Off-chain orderbook exchange (balances, orders, trades, deposits, withdrawals)"
  - name: Rewards
    description: "Phase 7: Points, tiers, quests, airdrops, referrals, leaderboard"

paths:
  /health:
    get:
      operationId: healthCheck
      tags: [Health]
      summary: Service health check
      description: Returns service status and version. Use for uptime monitoring and readiness probes.
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
                version: "0.1.0"

  /api/v1/tokens:
    get:
      operationId: listTokens
      tags: [Tokens]
      summary: List all tokens (summary)
      description: Returns a summary of all tracked tokens with metadata completeness stats.
      responses:
        "200":
          description: Token summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenSummary"
              example:
                total: 203
                complete_basic: 192
                with_icon: 68
                with_price: 90
                erc20_count: 197
                erc721_count: 6
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/tokens/audit:
    get:
      operationId: auditTokens
      tags: [Tokens]
      summary: Audit token metadata completeness
      description: |
        Returns detailed audit of token metadata quality including counts by type,
        completeness metrics, and a sample of tokens needing enrichment.
      responses:
        "200":
          description: Token audit report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenAuditReport"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/tokens/sync:
    post:
      operationId: syncTokens
      tags: [Tokens]
      summary: Trigger token metadata sync from Paxscan
      description: |
        Manually triggers a full sync of token metadata from the Paxscan block explorer database.
        This runs automatically every 5 minutes but can be triggered on-demand.
      responses:
        "200":
          description: Sync completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenSyncReport"
              example:
                success: true
                total: 203
                complete: 192
                partial: 11
                missing: 0
                with_icon: 68
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/tokens/{address}:
    get:
      operationId: getToken
      tags: [Tokens]
      summary: Get single token metadata
      description: Returns metadata for a specific token by its contract address.
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
      responses:
        "200":
          description: Token metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenMetadata"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/prices/sync:
    post:
      operationId: syncPrices
      tags: [Prices]
      summary: Trigger price sync from all DB sources
      description: |
        Manually triggers a full price sync from:
        - **Price Oracle DB**: PAX native price (candle close)
        - **DEX Subgraph DB**: All DEX market spot prices
        - **Hardcoded**: Stablecoin prices fixed at $1.00
        
        Prices are stored in the Portfolio DB and used for portfolio valuations.
        This runs automatically every 30 seconds.
      responses:
        "200":
          description: Price sync completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceSyncReport"
              example:
                success: true
                total_tokens: 90
                updated: 90
                by_source:
                  network: 86
                  stablecoin: 4
                native_pax_price: "10.8558331254187000"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}:
    get:
      operationId: getPortfolio
      tags: [Portfolio]
      summary: Get full portfolio for a wallet
      description: |
        Returns the complete portfolio for a wallet address including:
        - Native PAX balance with USD value
        - All ERC-20 token holdings with prices
        - Perpetuals portfolio summary (vault, positions, PnL)
        - Total portfolio value in USD
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Complete portfolio
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Portfolio"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/holdings:
    get:
      operationId: getHoldings
      tags: [Portfolio]
      summary: Get token holdings for a wallet
      description: Returns all ERC-20 token holdings with balances, prices, and USD values.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Token holdings list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TokenHolding"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/transactions:
    get:
      operationId: getTransactions
      tags: [Portfolio]
      summary: Get transactions for a wallet
      description: |
        Returns enriched transaction history with type classification,
        token transfer details, gas costs, and USD values. Supports pagination.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          description: Maximum number of transactions to return (default 50)
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          description: Number of transactions to skip for pagination
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Transaction list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EnrichedTransaction"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/balance:
    get:
      operationId: getBalance
      tags: [PnL]
      summary: Get total balance with daily PnL
      description: |
        Returns the current total portfolio balance broken down by native, tokens,
        and perps, plus the daily PnL compared to yesterday's snapshot.
        Also saves a daily snapshot for historical tracking.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Balance with PnL
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BalanceResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/pnl:
    get:
      operationId: getPnlHistory
      tags: [PnL]
      summary: Get PnL history
      description: |
        Returns daily PnL history showing portfolio value changes over time.
        Each entry includes total value, component breakdown, and daily change.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: days
          in: query
          description: Number of days of history (max 365)
          schema:
            type: integer
            default: 30
            maximum: 365
      responses:
        "200":
          description: PnL history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PnlHistoryResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/charts/value:
    get:
      operationId: getPortfolioValueChart
      tags: [Portfolio Charts]
      summary: Portfolio value chart
      description: |
        Returns time-series data for portfolio total value.
        Uses high-frequency snapshots (5min intervals) when available, falls back to daily.
        
        **Granularity by period:**
        - `1d` → every 5 min
        - `7d` → every 1 hour
        - `30d` → every 4 hours
        - `90d` → every day
        - `1y` → every day
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - $ref: "#/components/parameters/ChartPeriod"
      responses:
        "200":
          description: Chart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/charts/pnl:
    get:
      operationId: getPnlChart
      tags: [Portfolio Charts]
      summary: PnL chart
      description: Returns time-series PnL data (change between consecutive snapshots).
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - $ref: "#/components/parameters/ChartPeriod"
      responses:
        "200":
          description: Chart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/charts/holdings:
    get:
      operationId: getHoldingsChart
      tags: [Portfolio Charts]
      summary: Holdings count chart
      description: Returns time-series data for the number of unique tokens held.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - $ref: "#/components/parameters/ChartPeriod"
      responses:
        "200":
          description: Chart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/charts/tx-volume:
    get:
      operationId: getTxVolumeChart
      tags: [Portfolio Charts]
      summary: Transaction volume chart
      description: Returns time-series data for transaction volume in USD.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - $ref: "#/components/parameters/ChartPeriod"
      responses:
        "200":
          description: Chart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChartResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/perps:
    get:
      operationId: getPerpsPortfolio
      tags: [Perps]
      summary: Get perps portfolio summary
      description: |
        Returns the complete perpetuals portfolio for a user including:
        - Vault status and address
        - All open positions with unrealized PnL
        - Total collateral, unrealized/realized PnL
        - Aggregated user stats (position counts, trade counts, orders)
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Perps portfolio summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerpsPortfolioSummary"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/perps/positions:
    get:
      operationId: getPerpsPositions
      tags: [Perps]
      summary: Get perps positions
      description: |
        Returns perpetuals positions for a user. Can filter by status and paginate.
        Each position includes market info, entry/current price, leverage, and PnL.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: status
          in: query
          description: Filter by position status
          schema:
            type: string
            enum: [open, closed, liquidated]
        - name: limit
          in: query
          description: Maximum results (max 100)
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Positions list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PerpsPosition"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/portfolio/{address}/perps/trades:
    get:
      operationId: getPerPsTrades
      tags: [Perps]
      summary: Get perps trade history
      description: Returns perpetuals trade history for a user with pagination.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          description: Maximum results (max 100)
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Trade history
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PerpsTrade"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Phase 2: Enrichment endpoints ──────────────────────────────────────

  /api/v1/{address}/rank:
    get:
      operationId: getUserRank
      tags: [Enrichment]
      summary: Get user's leaderboard rank and centurion score
      description: |
        Returns the user's Coliseum leaderboard position, centurion score breakdown
        (performance, risk, behavioral), rank tier, and percentile.
        Data comes from the Argus gamification database.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: User rank data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRank"
              example:
                address: "0xf263ab36de550bda08b52d43eb253b3c0387e2bc"
                total_score: 367.2
                performance_score: 56.66
                risk_score: 578.43
                behavioral_score: 568.33
                rank: PLEBEIAN
                percentile: 5.13
                leaderboard_position: 36
                season_id: "87289761-81f9-4309-8ebd-555dc40e199f"
                calculated_at: "2026-02-19 03:34:14.206"
                is_qualified: true
        "503":
          description: Argus DB not configured
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/{address}/performance:
    get:
      operationId: getUserPerformance
      tags: [Enrichment]
      summary: Get user's trading performance metrics
      description: |
        Returns detailed trading performance including ROI, Sharpe ratio, win rate,
        profit factor, total PnL, and behavioral analysis (diversification,
        position sizing, trading frequency, etc.).
        Data comes from the Argus gamification database.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: User performance data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPerformance"
              example:
                address: "0xf263ab36de550bda08b52d43eb253b3c0387e2bc"
                season_id: "87289761-81f9-4309-8ebd-555dc40e199f"
                roi: -17686421.92
                roi_percent: -63.21
                sharpe_ratio: -0.678
                win_rate: 0.0
                total_trades: 131
                winning_trades: 0
                losing_trades: 0
                profit_factor: 0.0
                total_pnl: "-17686421.92304366"
                calculated_at: "2026-02-19 03:34:14.097"
                behavioral:
                  diversification_score: 83.33
                  trading_frequency: 131.0
                  unique_tokens_traded: 17
        "503":
          description: Argus DB not configured
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/{address}/profile:
    get:
      operationId: getUserProfile
      tags: [Enrichment]
      summary: Get user profile (identity + fund status)
      description: |
        Returns the user's identity (name, email), funding status, and fund
        transaction hashes. Read-only access to the Auth database.
        **Security note**: Never exposes private keys or password hashes.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
              example:
                address: "0xf263aB36de550bDa08b52d43eB253b3C0387e2bc"
                first_name: Andrew
                last_name: Garcell
                email: marksbenjamin256@gmail.com
                funded: true
                fund_status: funded
                fund_pax_tx: "0xcc2e9f8ecbb0193d99862497ca2133f0b74a4474ba3fa0e388cb8a62a1dfd1de"
                fund_usdl_tx: "0xe654c204f0cc52c0529b817507129ecad8bde98cf293615b8083db3929bb7bec"
                created_at: "2026-02-09T23:09:51+00:00"
        "503":
          description: Auth DB not configured
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Phase 3: Charts & History endpoints ────────────────────────────────

  /api/v1/charts/{symbol}:
    get:
      operationId: getAssetChart
      tags: [Asset Charts]
      summary: Get OHLCV price chart for any asset
      description: |
        Returns OHLCV candle data for any supported asset symbol.
        
        **Data sources by symbol:**
        - `PAX` → Price Oracle DB (`pax_candles` table, normalized price ~$10.85)
        - Crypto (BTC, ETH, SOL, etc.) → Candles B, fallback to Candles A `component_candles`
        - Stocks/Commodities (NVDA, TSLA, GOOGL, NAS100, SPX500, XAU) → Candles B
        
        **Available timeframes:** 1m, 2m, 3m, 5m, 15m, 30m, 1h, 4h, 8h, 1D, 1W
      parameters:
        - name: symbol
          in: path
          required: true
          description: Asset symbol (case-insensitive)
          schema:
            type: string
          examples:
            pax:
              value: PAX
              summary: PAX index price
            btc:
              value: BTC
              summary: Bitcoin
            nvda:
              value: NVDA
              summary: NVIDIA stock
        - name: timeframe
          in: query
          description: Candle timeframe
          schema:
            type: string
            enum: [1m, 2m, 3m, 5m, 15m, 30m, 1h, 4h, 8h, 1D, 1W]
            default: "1h"
        - name: limit
          in: query
          description: Maximum candles to return (max 1000)
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        "200":
          description: Candle chart data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetChartResponse"
              example:
                symbol: BTC
                timeframe: 1h
                count: 3
                candles:
                  - symbol: BTC
                    timeframe: 1h
                    timestamp: "2026-02-19T01:00:00+00:00"
                    open: "66415.33"
                    high: "66846.83"
                    low: "66415.13"
                    close: "66836.51"
                    volume: "0"
        "503":
          description: Candles DB not configured
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/trending:
    get:
      operationId: getTrending
      tags: [DEX]
      summary: Get trending launchpad tokens
      description: |
        Returns trending tokens from the DEX, ranked by a composite trending score
        (volume velocity, price momentum, trade intensity, holder growth, freshness).
        Includes price changes, market cap, holder count, and trending category.
      parameters:
        - name: limit
          in: query
          description: Maximum tokens to return (max 100)
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        "200":
          description: Trending tokens
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrendingResponse"
              example:
                count: 1
                tokens:
                  - market_id: "0x027276e837144f88ff0fd3feca0f74b666265005"
                    name: Help Me Im Poor
                    symbol: POOR
                    token_address: "0x20b10dc04cc4573c8a2b26cc584fcafd999a42e4"
                    spot_price: "0.000050325699502445"
                    market_cap: "50325.699502445"
                    volume_24h: "500.0"
                    price_change_1h: "0.8917"
                    price_change_24h: "4.579"
                    price_change_7d: "0"
                    holder_count: 3
                    swap_count: 6
                    trending_score: 0.897
                    trending_rank: 1
                    trending_category: hot
        "500":
          $ref: "#/components/responses/InternalError"

  /api/v1/{address}/dex-history:
    get:
      operationId: getDexHistory
      tags: [DEX]
      summary: Get DEX swap history for a wallet
      description: |
        Returns DEX swap transaction history for a wallet address.
        Each swap includes market info, amounts, price, fees, and side (BUY/SELL).
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          description: Maximum results (max 100)
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          description: Pagination offset
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: DEX swap history
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DexHistoryResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  # ── Phase 4: AMM Subgraph endpoints ──────────────────────────────────

  /api/v1/amm/tokens/{address}:
    get:
      operationId: getAmmToken
      tags: [AMM]
      summary: Get AMM token by address
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
      responses:
        "200":
          description: AMM token data
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Token not found
        "503":
          description: AMM DB not configured

  /api/v1/amm/pairs:
    get:
      operationId: listAmmPairs
      tags: [AMM]
      summary: List AMM pairs
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
        - name: order_by
          in: query
          schema: { type: string, enum: [volume, swaps, created, liquidity] }
      responses:
        "200":
          description: Paginated pair list
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/pairs/count:
    get:
      operationId: getAmmPairCount
      tags: [AMM]
      summary: Get total AMM pair count
      responses:
        "200":
          description: Pair count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }

  /api/v1/amm/pairs/search:
    get:
      operationId: getAmmPairByTokens
      tags: [AMM]
      summary: Search AMM pair by token addresses
      parameters:
        - name: token0
          in: query
          required: true
          schema: { type: string }
        - name: token1
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Matching pair
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/pairs/{address}:
    get:
      operationId: getAmmPair
      tags: [AMM]
      summary: Get AMM pair by address
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
      responses:
        "200":
          description: Pair detail with token info
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/pairs/{address}/stats:
    get:
      operationId: getAmmPairStats
      tags: [AMM]
      summary: Get AMM pair stats (24h volume, unique traders)
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
      responses:
        "200":
          description: Pair statistics
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/pairs/{address}/day-data:
    get:
      operationId: getAmmPairDayData
      tags: [AMM]
      summary: Get AMM pair daily aggregated data
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 30, maximum: 365 }
        - name: from
          in: query
          schema: { type: integer }
          description: Start unix timestamp
        - name: to
          in: query
          schema: { type: integer }
          description: End unix timestamp
      responses:
        "200":
          description: Daily pair data
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /api/v1/amm/pairs/{address}/hour-data:
    get:
      operationId: getAmmPairHourData
      tags: [AMM]
      summary: Get AMM pair hourly aggregated data
      parameters:
        - $ref: "#/components/parameters/TokenAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 24, maximum: 720 }
        - name: from
          in: query
          schema: { type: integer }
        - name: to
          in: query
          schema: { type: integer }
      responses:
        "200":
          description: Hourly pair data
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /api/v1/amm/swaps:
    get:
      operationId: getAmmSwaps
      tags: [AMM]
      summary: Get AMM swaps (paginated)
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: sender
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Paginated swaps
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/swaps/recent:
    get:
      operationId: getAmmRecentSwaps
      tags: [AMM]
      summary: Get recent AMM swaps
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        "200":
          description: Recent swaps
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /api/v1/amm/mints:
    get:
      operationId: getAmmMints
      tags: [AMM]
      summary: Get AMM mints (paginated)
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: sender
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Paginated mints
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/burns:
    get:
      operationId: getAmmBurns
      tags: [AMM]
      summary: Get AMM burns (paginated)
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: sender
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Paginated burns
          content:
            application/json:
              schema:
                type: object

  /api/v1/amm/analytics/top-traders:
    get:
      operationId: getAmmTopTraders
      tags: [AMM]
      summary: Get top AMM traders by swap count
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
      responses:
        "200":
          description: Top traders
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /api/v1/amm/analytics/top-lps:
    get:
      operationId: getAmmTopLps
      tags: [AMM]
      summary: Get top AMM liquidity providers
      parameters:
        - name: pair_address
          in: query
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 100 }
      responses:
        "200":
          description: Top LPs
          content:
            application/json:
              schema:
                type: array
                items: { type: object }

  /api/v1/amm/indexer/status:
    get:
      operationId: getAmmIndexerStatus
      tags: [AMM]
      summary: Get AMM indexer status
      responses:
        "200":
          description: Indexer sync status
          content:
            application/json:
              schema:
                type: object

  # ── Phase 6: Exchange endpoints ─────────────────────────────────────

  /api/v1/portfolio/{address}/exchange:
    get:
      operationId: getExchangePortfolio
      tags: [Exchange]
      summary: Get exchange portfolio for a wallet
      description: |
        Returns the user's off-chain exchange data including balances, open orders,
        recent trades, per-market stats, and aggregate user stats.
        Resolves linked wallets via user_wallets table.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Exchange portfolio
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Address not found in exchange
        "503":
          description: Exchange DB not configured

  /api/v1/portfolio/{address}/exchange/orders:
    get:
      operationId: getExchangeOrders
      tags: [Exchange]
      summary: Get exchange order history
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Order history
          content:
            application/json:
              schema:
                type: object

  /api/v1/portfolio/{address}/exchange/trades:
    get:
      operationId: getExchangeTrades
      tags: [Exchange]
      summary: Get exchange trade history
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Trade history
          content:
            application/json:
              schema:
                type: object

  /api/v1/portfolio/{address}/exchange/deposits:
    get:
      operationId: getExchangeDeposits
      tags: [Exchange]
      summary: Get exchange deposit history
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Deposit history
          content:
            application/json:
              schema:
                type: object

  /api/v1/portfolio/{address}/exchange/withdrawals:
    get:
      operationId: getExchangeWithdrawals
      tags: [Exchange]
      summary: Get exchange withdrawal history
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Withdrawal history
          content:
            application/json:
              schema:
                type: object

  /api/v1/exchange/markets:
    get:
      operationId: getExchangeMarkets
      tags: [Exchange]
      summary: Get exchange markets and stats
      description: Returns all exchange markets with their 24h stats (volume, high/low, bid/ask).
      responses:
        "200":
          description: Markets and stats
          content:
            application/json:
              schema:
                type: object

  # ── Phase 7: Rewards endpoints ──────────────────────────────────────

  /api/v1/{address}/rewards:
    get:
      operationId: getRewardsSummary
      tags: [Rewards]
      summary: Get rewards summary for a wallet
      description: |
        Returns the user's points balance, tier, leaderboard rank, active season info,
        quest completion summary, airdrop count, and referral count.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Rewards summary
          content:
            application/json:
              schema:
                type: object
        "503":
          description: Rewards DB not configured

  /api/v1/{address}/rewards/quests:
    get:
      operationId: getRewardsQuests
      tags: [Rewards]
      summary: Get quests with user progress
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Quests with completion status
          content:
            application/json:
              schema:
                type: object

  /api/v1/{address}/rewards/airdrops:
    get:
      operationId: getRewardsAirdrops
      tags: [Rewards]
      summary: Get airdrops (active + historical)
      description: |
        Returns active airdrop campaigns with user eligibility/claim status,
        plus historical airdrop claims and staking rewards.
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Airdrop data
          content:
            application/json:
              schema:
                type: object

  /api/v1/{address}/rewards/referrals:
    get:
      operationId: getRewardsReferrals
      tags: [Rewards]
      summary: Get referral info and referred users
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
      responses:
        "200":
          description: Referral data
          content:
            application/json:
              schema:
                type: object

  /api/v1/{address}/rewards/history:
    get:
      operationId: getRewardsHistory
      tags: [Rewards]
      summary: Get points ledger (earn/spend/burn history)
      parameters:
        - $ref: "#/components/parameters/WalletAddress"
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 100 }
        - name: offset
          in: query
          schema: { type: integer, default: 0 }
      responses:
        "200":
          description: Points history
          content:
            application/json:
              schema:
                type: object

  /api/v1/rewards/leaderboard:
    get:
      operationId: getRewardsLeaderboard
      tags: [Rewards]
      summary: Get rewards leaderboard (top N users)
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
      responses:
        "200":
          description: Leaderboard
          content:
            application/json:
              schema:
                type: object

  /api/v1/rewards/season:
    get:
      operationId: getRewardsSeason
      tags: [Rewards]
      summary: Get current reward season info
      responses:
        "200":
          description: Active season
          content:
            application/json:
              schema:
                type: object

components:
  parameters:
    WalletAddress:
      name: address
      in: path
      required: true
      description: Wallet address (with or without 0x prefix, case-insensitive)
      schema:
        type: string
        pattern: "^0x[a-fA-F0-9]{40}$"
      example: "0xf263aB36de550bDa08b52d43eB253b3C0387e2bc"

    TokenAddress:
      name: address
      in: path
      required: true
      description: Token contract address
      schema:
        type: string
        pattern: "^0x[a-fA-F0-9]{40}$"
      example: "0x6c326079541b0239084803362145896889753177"

    ChartPeriod:
      name: period
      in: query
      description: Time period for chart data
      schema:
        type: string
        enum: ["1d", "7d", "30d", "90d", "1y"]
        default: "30d"

  responses:
    InternalError:
      description: Internal server error
      content:
        text/plain:
          schema:
            type: string

  schemas:
    HealthResponse:
      type: object
      required: [status, version]
      properties:
        status:
          type: string
          description: Service status
          example: ok
        version:
          type: string
          description: Service version (from Cargo.toml)
          example: "0.1.0"

    TokenSummary:
      type: object
      properties:
        total:
          type: integer
          description: Total tracked tokens
        complete_basic:
          type: integer
          description: Tokens with complete basic metadata
        with_icon:
          type: integer
          description: Tokens with icon URLs
        with_price:
          type: integer
          description: Tokens with current price data
        erc20_count:
          type: integer
          description: Number of ERC-20 tokens
        erc721_count:
          type: integer
          description: Number of ERC-721 NFT collections

    TokenAuditReport:
      type: object
      properties:
        total:
          type: integer
        complete_basic:
          type: integer
        with_icon:
          type: integer
        with_price:
          type: integer
        verified:
          type: integer
        by_type:
          type: object
          properties:
            erc20:
              type: integer
            erc721:
              type: integer
            erc1155:
              type: integer
        needing_enrichment_count:
          type: integer
        needing_enrichment_sample:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              symbol:
                type: string
              missing_icon:
                type: boolean
              missing_price:
                type: boolean
              missing_decimals:
                type: boolean

    TokenSyncReport:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        complete:
          type: integer
        partial:
          type: integer
        missing:
          type: integer
        with_icon:
          type: integer

    PriceSyncReport:
      type: object
      properties:
        success:
          type: boolean
        total_tokens:
          type: integer
        updated:
          type: integer
        by_source:
          type: object
          properties:
            network:
              type: integer
              description: Prices from DEX Subgraph DB
            stablecoin:
              type: integer
              description: Fixed stablecoin prices
        native_pax_price:
          type: string
          description: Current PAX native price in USD

    TokenMetadata:
      type: object
      properties:
        address:
          type: string
        name:
          type: string
          nullable: true
        symbol:
          type: string
          nullable: true
        decimals:
          type: integer
          nullable: true
        token_type:
          type: string
        total_supply:
          type: string
          nullable: true
        holder_count:
          type: integer
          nullable: true
        fiat_value:
          type: string
          nullable: true
        volume_24h:
          type: string
          nullable: true
        circulating_market_cap:
          type: string
          nullable: true
        icon_url:
          type: string
          nullable: true
        is_verified:
          type: boolean
          nullable: true
        price_usd:
          type: string
          nullable: true
        price_source:
          type: string
          nullable: true
        price_updated_at:
          type: string
          nullable: true

    Portfolio:
      type: object
      required: [address, native_balance, token_holdings, token_count, transaction_count, transfer_count, computed_at]
      properties:
        address:
          type: string
          description: Normalized wallet address
        native_balance:
          $ref: "#/components/schemas/NativeBalance"
        token_holdings:
          type: array
          items:
            $ref: "#/components/schemas/TokenHolding"
        total_value_usd:
          type: string
          nullable: true
          description: Total portfolio value in USD (string-encoded decimal)
        token_count:
          type: integer
          description: Number of unique tokens held
        transaction_count:
          type: integer
          description: Total transaction count for this address
        transfer_count:
          type: integer
          description: Total token transfer count
        perps:
          $ref: "#/components/schemas/PerpsPortfolioSummary"
        exchange_balance_usd:
          type: string
          nullable: true
          description: Off-chain exchange balance value in USD
        computed_at:
          type: string
          format: date-time
          description: When this portfolio was computed

    NativeBalance:
      type: object
      required: [symbol, balance_raw, balance]
      properties:
        symbol:
          type: string
          example: PAX
        balance_raw:
          type: string
          description: Balance in wei
        balance:
          type: string
          description: Human-readable balance
        price_usd:
          type: string
          nullable: true
          description: Current PAX price in USD
        value_usd:
          type: string
          nullable: true
          description: Total USD value of native balance

    TokenHolding:
      type: object
      required: [contract_address, decimals, balance_raw, balance]
      properties:
        contract_address:
          type: string
        symbol:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        decimals:
          type: integer
        balance_raw:
          type: string
          description: Raw balance before decimal adjustment
        balance:
          type: string
          description: Human-readable balance
        price_usd:
          type: string
          nullable: true
        value_usd:
          type: string
          nullable: true
        icon_url:
          type: string
          nullable: true

    EnrichedTransaction:
      type: object
      required: [hash, block_number, timestamp, from_address, value_raw, value, gas_used, gas_price, gas_fee, status, tx_type, token_transfers]
      properties:
        hash:
          type: string
          description: Transaction hash
        block_number:
          type: integer
          format: int64
        timestamp:
          type: string
          format: date-time
        from_address:
          type: string
        to_address:
          type: string
          nullable: true
        value_raw:
          type: string
          description: Native value in wei
        value:
          type: string
          description: Human-readable native value
        value_usd:
          type: string
          nullable: true
        gas_used:
          type: string
        gas_price:
          type: string
        gas_fee:
          type: string
          description: Gas fee in native token
        gas_fee_usd:
          type: string
          nullable: true
        status:
          type: boolean
        tx_type:
          type: string
          enum: [transfer, token_transfer, nft_transfer, swap, add_liquidity, remove_liquidity, stake, unstake, claim_rewards, contract_deploy, contract_call, approval, bridge, unknown]
        description:
          type: string
          nullable: true
        token_transfers:
          type: array
          items:
            $ref: "#/components/schemas/EnrichedTokenTransfer"

    EnrichedTokenTransfer:
      type: object
      properties:
        token_address:
          type: string
        token_symbol:
          type: string
          nullable: true
        token_name:
          type: string
          nullable: true
        token_decimals:
          type: integer
          nullable: true
        from_address:
          type: string
        to_address:
          type: string
        amount_raw:
          type: string
        amount:
          type: string
        value_usd:
          type: string
          nullable: true
        token_type:
          type: string
          enum: [ERC-20, ERC-721, ERC-1155]
        token_id:
          type: string
          nullable: true
        log_index:
          type: integer

    BalanceResponse:
      type: object
      required: [address, native_balance_usd, token_balance_usd, perps_value_usd, total_balance_usd, native_balance, token_count, computed_at]
      properties:
        address:
          type: string
        native_balance_usd:
          type: string
          description: Native balance value in USD (2 DP)
        token_balance_usd:
          type: string
          description: Total token holdings value in USD (2 DP)
        perps_value_usd:
          type: string
          description: Perps portfolio value in USD (2 DP)
        total_balance_usd:
          type: string
          description: Total portfolio value (native + tokens + perps)
        native_balance:
          type: string
          description: Native PAX balance (8 DP)
        token_count:
          type: integer
        daily_pnl_usd:
          type: string
          nullable: true
          description: Change since yesterday in USD
        daily_pnl_percent:
          type: string
          nullable: true
          description: Percentage change since yesterday
        computed_at:
          type: string
          format: date-time

    PnlHistoryResponse:
      type: object
      required: [address, days_requested, history]
      properties:
        address:
          type: string
        days_requested:
          type: integer
        history:
          type: array
          items:
            $ref: "#/components/schemas/PnlHistoryItem"

    PnlHistoryItem:
      type: object
      required: [date, total_value_usd, native_value_usd, token_value_usd, pnl_usd, pnl_percent]
      properties:
        date:
          type: string
          format: date
        total_value_usd:
          type: string
        native_value_usd:
          type: string
        token_value_usd:
          type: string
        pnl_usd:
          type: string
          description: Daily change in USD
        pnl_percent:
          type: string
          description: Daily change as percentage

    ChartResponse:
      type: object
      required: [address, chart_type, period, data]
      properties:
        address:
          type: string
        chart_type:
          type: string
          enum: [portfolio_value, pnl, holdings_count, tx_volume]
        period:
          type: string
        data:
          type: array
          items:
            $ref: "#/components/schemas/ChartDataPoint"

    ChartDataPoint:
      type: object
      required: [date, value]
      properties:
        date:
          type: string
          format: date
          description: ISO date string (YYYY-MM-DD)
        value:
          type: string
          description: Numeric value as string (2 DP for USD)

    PerpsPortfolioSummary:
      type: object
      required: [has_vault, open_positions, total_collateral_usd, total_unrealized_pnl, total_perps_value_usd, total_realized_pnl]
      properties:
        has_vault:
          type: boolean
          description: Whether the user has created a perps vault
        vault_address:
          type: string
          nullable: true
          description: Vault contract address
        open_positions:
          type: array
          items:
            $ref: "#/components/schemas/PerpsPosition"
        total_collateral_usd:
          type: string
          description: Total collateral locked in open positions
        total_unrealized_pnl:
          type: string
          description: Total unrealized PnL across open positions
        total_perps_value_usd:
          type: string
          description: Collateral + unrealized PnL
        total_realized_pnl:
          type: string
          description: Lifetime realized PnL
        stats:
          $ref: "#/components/schemas/PerpsUserStats"

    PerpsPosition:
      type: object
      required: [position_id, user_address, market_id, is_long, size_usd, leverage, entry_price, collateral_amount, collateral_usd, status]
      properties:
        position_id:
          type: string
        user_address:
          type: string
        market_id:
          type: integer
        market_name:
          type: string
          nullable: true
        market_symbol:
          type: string
          nullable: true
        is_long:
          type: boolean
        size_usd:
          type: string
        leverage:
          type: string
        entry_price:
          type: string
        current_price:
          type: string
          nullable: true
        collateral_amount:
          type: string
        collateral_usd:
          type: string
        unrealized_pnl:
          type: string
          nullable: true
        realized_pnl:
          type: string
          nullable: true
        status:
          type: string
          enum: [open, closed, liquidated]
        opened_at:
          type: string
          nullable: true
        closed_at:
          type: string
          nullable: true
        open_tx_hash:
          type: string
          nullable: true

    PerpsUserStats:
      type: object
      required: [user_address, total_positions, open_positions, closed_positions, liquidated_positions, total_trades, total_realized_pnl, total_orders, active_orders]
      properties:
        user_address:
          type: string
        total_positions:
          type: integer
        open_positions:
          type: integer
        closed_positions:
          type: integer
        liquidated_positions:
          type: integer
        total_trades:
          type: integer
        total_realized_pnl:
          type: string
        total_orders:
          type: integer
        active_orders:
          type: integer

    PerpsTrade:
      type: object
      required: [id, position_id, user_address, market_id, trade_type, size_usd, price, block_number, tx_hash]
      properties:
        id:
          type: integer
        position_id:
          type: string
        user_address:
          type: string
        market_id:
          type: integer
        trade_type:
          type: string
          enum: [open, close, liquidate, increase, decrease]
        is_long:
          type: boolean
          nullable: true
        size_usd:
          type: string
        price:
          type: string
        realized_pnl:
          type: string
          nullable: true
        fee_usd:
          type: string
          nullable: true
        block_number:
          type: integer
          format: int64
        tx_hash:
          type: string
        block_timestamp:
          type: string
          nullable: true

    # ── Phase 2: Enrichment schemas ────────────────────────────────────

    UserRank:
      type: object
      properties:
        address:
          type: string
          description: Wallet address
        total_score:
          type: number
          format: double
          description: Combined centurion score
        performance_score:
          type: number
          format: double
          description: Trading performance component
        risk_score:
          type: number
          format: double
          description: Risk management component
        behavioral_score:
          type: number
          format: double
          description: Behavioral analysis component
        rank:
          type: string
          description: Coliseum rank tier
          enum: [PLEBEIAN, LEGIONARY, CENTURION, PRAETORIAN, IMPERATOR]
        percentile:
          type: number
          format: double
          description: Percentile rank (0-100)
        leaderboard_position:
          type: integer
          nullable: true
          description: Absolute position on leaderboard (1-based)
        season_id:
          type: string
          description: Current season UUID
        calculated_at:
          type: string
          description: When the score was last calculated
        is_qualified:
          type: boolean
          description: Whether user is qualified for the current season

    UserPerformance:
      type: object
      properties:
        address:
          type: string
        season_id:
          type: string
        roi:
          type: number
          format: double
          description: Return on investment (absolute)
        roi_percent:
          type: number
          format: double
          description: ROI as percentage
        sharpe_ratio:
          type: number
          format: double
          description: Risk-adjusted return metric
        win_rate:
          type: number
          format: double
          description: Percentage of winning trades (0-1)
        total_trades:
          type: integer
        winning_trades:
          type: integer
        losing_trades:
          type: integer
        avg_win_size:
          type: number
          format: double
        avg_loss_size:
          type: number
          format: double
        profit_factor:
          type: number
          format: double
          description: Gross profit / gross loss ratio
        total_pnl:
          type: string
          description: Total PnL (string-encoded decimal for precision)
        calculated_at:
          type: string
        behavioral:
          type: object
          nullable: true
          description: Trading behavioral analysis
          properties:
            position_sizing_consistency:
              type: number
              format: double
            diversification_score:
              type: number
              format: double
            gas_efficiency:
              type: number
              format: double
            trading_frequency:
              type: number
              format: double
            hold_duration_avg:
              type: number
              format: double
            protocol_usage_count:
              type: integer
            unique_tokens_traded:
              type: integer
            avg_time_between_trades:
              type: number
              format: double

    UserProfile:
      type: object
      properties:
        address:
          type: string
          description: Wallet address
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        funded:
          type: boolean
          description: Whether account has been funded
        fund_status:
          type: string
          description: Funding status
          enum: [pending, funded, unknown]
        fund_pax_tx:
          type: string
          nullable: true
          description: PAX funding transaction hash
        fund_usdl_tx:
          type: string
          nullable: true
          description: USDL funding transaction hash
        created_at:
          type: string
          format: date-time
          nullable: true

    # ── Phase 3: Charts & History schemas ──────────────────────────────

    AssetChartResponse:
      type: object
      required: [symbol, timeframe, count, candles]
      properties:
        symbol:
          type: string
          description: Asset symbol (uppercase)
        timeframe:
          type: string
          description: Candle timeframe
        count:
          type: integer
          description: Number of candles returned
        candles:
          type: array
          items:
            $ref: "#/components/schemas/Candle"

    Candle:
      type: object
      required: [symbol, timeframe, timestamp, open, high, low, close]
      properties:
        symbol:
          type: string
        timeframe:
          type: string
        timestamp:
          type: string
          format: date-time
          description: Candle open time (ISO 8601)
        open:
          type: string
          description: Open price (string-encoded decimal)
        high:
          type: string
          description: High price
        low:
          type: string
          description: Low price
        close:
          type: string
          description: Close price
        volume:
          type: string
          nullable: true
          description: Volume

    TrendingResponse:
      type: object
      required: [count, tokens]
      properties:
        count:
          type: integer
        tokens:
          type: array
          items:
            $ref: "#/components/schemas/TrendingToken"

    TrendingToken:
      type: object
      properties:
        market_id:
          type: string
          description: DEX market contract address
        name:
          type: string
          description: Token name
        symbol:
          type: string
          description: Token symbol
        token_address:
          type: string
          description: Token contract address
        spot_price:
          type: string
          description: Current spot price in USD
        market_cap:
          type: string
          description: Market cap in USID
        volume_24h:
          type: string
          description: 24h trading volume in USID
        price_change_1h:
          type: string
          description: 1-hour price change percentage
        price_change_24h:
          type: string
          description: 24-hour price change percentage
        price_change_7d:
          type: string
          description: 7-day price change percentage
        holder_count:
          type: integer
          format: int64
        swap_count:
          type: integer
          format: int64
        trending_score:
          type: number
          format: double
          description: Composite trending score (0-1)
        trending_rank:
          type: integer
          description: Rank position (1-based)
        trending_category:
          type: string
          description: Trending category
          enum: [hot, warm, cold]

    DexHistoryResponse:
      type: object
      required: [address, count, swaps]
      properties:
        address:
          type: string
        count:
          type: integer
        swaps:
          type: array
          items:
            $ref: "#/components/schemas/DexSwap"

    DexSwap:
      type: object
      properties:
        id:
          type: string
          description: Swap event ID
        market_name:
          type: string
          description: Market name
        market_symbol:
          type: string
          description: Market symbol
        tx_hash:
          type: string
          description: Transaction hash
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp
        token_in:
          type: string
          description: Input token address
        token_out:
          type: string
          description: Output token address
        amount_in:
          type: string
          description: Input amount (string-encoded)
        amount_out:
          type: string
          description: Output amount (string-encoded)
        amount_in_usid:
          type: string
          description: Input amount in USID terms
        spot_price:
          type: string
          description: Spot price at time of swap
        fee_usid:
          type: string
          description: Fee paid in USID
        price_impact:
          type: string
          description: Price impact of the swap
        side:
          type: string
          description: Trade direction
          enum: [BUY, SELL]
